name: bftaskmgr
description: A simple Task Manager Flutter app using Back4App (Parse Server)
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  http: ^1.2.0
  # Latest stable Parse SDK for Flutter
  #parse_server_sdk_flutter: ^7.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
